{
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "importOrder": [
                    "^[^@].*$",
                    "^@/.*$"
                ],
                "importOrderGroupNamespaceSpecifiers": true,
                "importDeclarationSorter": {
                    "order": [
                        "single",
                        "multiple",
                        "namespace",
                        "default"
                    ]
                },
                "importOrderSeparation": true
            }
        }
    ]
}